/* Ajout de variable pour renseigner les couleurs et fonts */
:root {

    /* COLOR */
    --primary-color: #FBF8FB;
    --secondary-color: #cae9ff;
    --third-color: #71B5DC;
    --primary-text-color: #3B3B3B;
    --secondary-text-color: #2C2C2C;
    --action-color: #58B105;
    --restart-color: #d90429;
    --inactivated-color: #adb5bd;

    /* FONTS */
    --title-font: 'Raleway', sans-serif;
    --content-font: 'Quicksand', sans-serif;
    --times-font: 'Rubik', sans-serif;
}
html {
    height: 100%;
}

body {
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    font-family: var(--content-font);

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*  #region ICONS CUSTOMISATION  */

.fa-play {
    color: var(--primary-color);
    font-size: 1em;
}

.fa-toggle-off {
    color: var(--inactivated-color);
    font-size: 1em;
}

.fa-toggle-on {
    color: var(--third-color);
    font-size: 1em;
}
header {
    width: 100%;
}

/*  #endregion  */

/*  #region BUTTONS CUSTOMISATION  */

/* #region RADIO */

input[type="radio"].difficulty {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type="radio"].difficulty {
    background-color: var(--primary-color);

    width: 15px;
    height: 15px;

    border: 1px solid var(--inactivated-color);
    border-radius: 1em;
}

input[type="radio"].difficulty:checked {
    position: relative;

    background: var(--third-color);
}

.disable>*{
    color: #b0b0b0;
}

#optionsMenu {
    width: 17%;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*
#divToggle1 {
    position: absolute;
    margin-left: 2vw;
}
#divToggle2 {
    position: absolute;
    margin: 90px 0 0 2vw;
}
*/


.switchText {
    width: 147px;
    font-size: 17px;
}
#footer {
    background-color: var(--primary-text-color);
    color: var(--primary-color);
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/* #endregion */

/* #endregion */


/* <<<   LARGE SCREEN   >>> */

@media screen and (min-width: 993px) {

    /* #region HEADER */

    header {
        background-color: var(--primary-color);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10%;
    }

    h1 {
        font-family: var(--title-font);
        font-size: 2em;

        margin-left: 0.5em;
        padding-bottom: 0.2em;
    }

    .siteName {
        margin: 0 1em;
        padding-top: 0.2em;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* .userCard {
        font-size: 1.2em;
        background-color: var(--secondary-color);

        margin-right: 0.5em;
        padding: 0 1em;

        border-radius: 10px;
        box-shadow: 2px 2px 4px var(--primary-text-color, 0.1);
    } */

    #logo {
        height: 3em;
        width: 3em;

        margin: 0.3em;
        padding-left: 0.5em;
    }

    /* #endregion */

    /* #region MAIN */

    main {
        font-size: 1.2em;
        display: flex;
        align-items: center;
        height: 85%;
    }


    /* #region OPTIONS-MENU */

    h3 {
        font-size: 1em;
    }

    span {
        margin-left: 0.5em;
    }

    .subtitle-layout {
        background-color: var(--primary-color);

        width: 45%;
        height: 2.4em;
        margin-top: 1.2em;
        margin-bottom: 0.8em;
        padding: 0 1em;

        border-radius: 0 30px 30px 0;

        display: flex;
        justify-content: end;
        align-items: center;
    }

    .difficulty-option {
        padding: 0.2em 1.5em;
    }

    .optionExample {
        margin: 1em 1.5em;

        display: flex;
        align-items: center;
    }

    .toggle {
        height: 3em;
        margin-left: 0.6em;
    }

    .divToggle {
        display: flex;
        margin-bottom: 0.5em;
        flex-direction: column;
        margin-left: 0.5em;
    }

    /* #endregion */

    /* #region TAQUIN */

    #taquin {
        background-color: var(--third-color);

        width: 60%;
        padding: 2em 0;

        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #scream {
        display: none;
        border: 5px solid;
    }

    #canvas {
        background-color: var(--third-color);

        width: 55%;
        /*margin: 20px;*/
        /* margin: 200px; */

        /*border: 5px solid var(--third-color);*/

        display: block;
    }

    /* #endregion */

    /* #region STATS */

    #stats {
        background-color: var(--secondary-color);

        width: 20%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gameStats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gameStats > .subtitle-layout {
        background-color: var(--primary-color);

        width: 60%;
        margin-left: 8em;
        margin-bottom: 1.2em;

        border-radius: 30px 0 0 30px;

        display: flex;
        justify-content: start;
    }

    #button-window {
        width: 90%;
        margin: 0 0.2em;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #start {
        font-size: 1.6em;
        color: var(--primary-color);
        background-color: var(--action-color);

        width: 92%;
        height: 1.6em;
        margin: 0 0.1em;

        border: none;
        border-radius: 50px;
    }

    #relaunch {
        font-size: 1.6em;
        color: var(--primary-color);
        background-color: var(--restart-color);

        width: 92%;
        height: 1.6em;
        margin: 0 0.1em;

        border: none;
        border-radius: 50px;
    }

    #thumbnail {
        background-color: var(--primary-color);

        width: 60%;
        margin: 0.5em;
        margin-top: 1.5em;
        padding: 0.5em 0;

        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #miniature {
        background-color: var(--third-color);

        width: 85%;
        margin: 0.5em;

        border-radius: 8px;
    }

    .subtitle-layout > h3 {
        display: flex;
        justify-content: end;
        margin: 0.6em 0;
    }

    .button-layout {
        background-color: var(--primary-color);

        width: 80%;
        height: 3em;
        margin: 0 0.2em;
        margin-top: 1em;

        border-radius: 50px;
        box-shadow: 1px 1px 3px var(--primary-text-color);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .click-counter {
        background-color: var(--primary-color);

        width: 80%;
        height: 2em;
        margin-bottom: 0.6em;
        padding: 0.5em;

        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .click-counter > input {
        background-color: var(--primary-color);
        font-family: var(--times-font);

        width: 10%;

        border: none;
    }

    .mix {
        background-color: var(--primary-color);

        width: 80%;
        height: 2em;
        padding: 0.5em;
        padding-left: 0.6em;

        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mix > input {
        background-color: var(--primary-color);
        font-family: var(--times-font);

        width: 10%;

        border: none;
    }

    /* #endregion */

    /* #endregion MAIN */

    /* #region FOOTER */

    #footer {
        background-color: var(--primary-text-color);
        color: var(--primary-color);
        height: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    /* #endregion */
}



@media screen and (max-width: 992px) {

    /* #region HEADER */

    header {
        background-color: var(--primary-color);

        padding: 0.9em 1em;
    }

    h1 {
        font-family: var(--title-font);
        font-size: 1.8em;

        margin-left: 0.4em;
    }

    .siteName {
        margin: 0 auto;
        padding-top: 0.2em;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* .userCard {
        font-size: 1.2em;
        background-color: var(--secondary-color);
        text-align: center;

        margin: 0.8em;
        margin-top: 0.3em;

        border-radius: 10px;;
    } */

    #logo {
        height: 3em;
        width: 3em;

        margin: 0.4em;
    }

    /* #endregion */

    /* #region MAIN */

    main {
        font-size: 0.8em;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* #region OPTIONS-MENU */

    #optionsMenu {
        background-color: var(--secondary-color);
        padding-bottom: 0.8em;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #option-window {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 40%;
    }

    h3 {
        font-size: 1em;
    }

    span {
        margin-left: 0.5em;
    }

    .select-option {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .subtitle-layout {
        background-color: var(--primary-color);

        height: 2.4em;
        margin-top: 1.2em;
        margin-bottom: 0.8em;

        border-radius: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .select-difficulty {
        display: flex;
    }

    .difficulty-option {
        padding: 0.5em 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .difficulty {
        margin-right: 0.4em;
    }

    /* .optionExample {
        margin: 1em 1.5em;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    } */
    .option-window {
        flex-basis: 40%;
    }

    .toggles {
        display: flex;
        width: 80%;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
    }
    #divToggle2 {
        position: absolute;
        margin: 0px 0 0 20vw;
    }
    .slider::before {
        position: absolute;
        content: "";
        height: 1.5em;
        width: 1.5em;
        left: 5px;
        bottom: 3.5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(20px);
    }
    .switchText {
        width: 60px;
        margin: 7px auto auto -3px;
        font-size: 2vw;
    }

    /* #endregion */

    /* #region TAQUIN */

    #taquin {
        background-color: var(--third-color);

        width: 100%;
        padding: 1.5em 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #scream {
        display: none;
        border: 5px solid;
    }

    #canvas {
        background-color: var(--third-color);

        width: 95%;
        margin: 20px;
        /* margin: 200px; */

        border: 5px solid var(--third-color);

        display: block;
    }

    /* #endregion */

    /* #region STATS */

    #stats {
        background-color: var(--secondary-color);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gameStats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gameStats > .subtitle-layout {
        background-color: var(--primary-color);

        width: 40%;
        margin: 0 auto;
        margin-bottom: 1.5em;
        padding: 0 1em;

        border-radius: 30px;

        display: flex;
        align-items: center;
    }

    #gameStats > .subtitle-layout > h3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #button-window {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #start {
        font-size: 1.6em;
        color: var(--primary-color);
        background-color: var(--action-color);

        width: 94%;
        height: 1.8em;

        border: none;
        border-radius: 50px;
    }

    #relaunch {
        font-size: 1.6em;
        color: var(--primary-color);
        background-color: var(--restart-color);

        width: 94%;
        height: 1.8em;

        border: none;
        border-radius: 50px;
    }

    #thumbnail img{
        background-color: var(--primary-color);

        width: 80%;
        margin: 0.5em;
        margin-bottom: 1.5em;
        padding: 1em 0;

        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #miniature {
        background-color: var(--third-color);

        width: 85%;
        margin: 0.5em;

        border-radius: 8px;
    }

    .button-layout {
        background-color: var(--primary-color);

        width: 40%;
        height: 3.4em;
        margin: 1em 0;

        border-radius: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    * {
        margin: 0 auto;
    }

    .subtitle-layout {
        width: 60%;
        margin-bottom: 0.9em;
    }

    .click-counter {
        background-color: var(--primary-color);

        width: 80%;
        height: 2em;
        margin-bottom: 0.6em;
        padding: 0.5em;

        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .click-counter > input {
        background-color: var(--primary-color);
        font-family: var(--times-font);

        width: 10%;

        border: none;
    }

    .mix {
        background-color: var(--primary-color);

        width: 80%;
        height: 2em;
        margin-bottom: 1.5em;
        padding: 0.5em;
        padding-left: 0.6em;

        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mix > input {
        background-color: var(--primary-color);
        font-family: var(--times-font);

        width: 10%;

        border: none;
    }

    /* #endregion */

    /* #endregion MAIN */

    /* #region FOOTER */

    #footer {
        background-color: var(--primary-text-color);
        color: var(--primary-color);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        z-index: 2;
    }

    #footer > p {
        margin: 0.3em 0;
    }

    /* #endregion */
}

/*
/* <<<   MEDIUM+ SCREEN   >>> 
@media screen and (min-width: 993px) and (max-width: 1024px) {
    /* #region HEADER 

    header {
        background-color: var(--primary-color);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-family: var(--title-font);
        font-size: 2em;

        margin-left: 0.5em;
        padding-bottom: 0.2em;
    }

    .siteName {
        margin: 0 1em;
        padding-top: 0.2em;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        height: 3em;
        width: 3em;

        margin: 0.3em;
        padding-left: 0.5em;
    }

    /* #endregion 

    /* #region MAIN 

    main {
        font-size: 1.2em;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    /* #region OPTIONS-MENU 

    h3 {
        font-size: 1em;
    }

    span {
        margin-left: 0.5em;
    }

    .subtitle-layout {
        background-color: var(--primary-color);

        width: 55%;
        height: 2.4em;
        margin-top: 1.2em;
        margin-bottom: 0.8em;
        padding: 0 1em;

        border-radius: 0 30px 30px 0;

        display: flex;
        justify-content: end;
        align-items: center;
    }

    .difficulty-option {
        padding: 0.2em 1.2em;
    }

    .optionExample {
        margin: 1em 1em;

        display: flex;
        align-items: center;
    }

    .toggle {
        height: 3em;
        margin-left: 0.6em;
    }

    /* #endregion 
    /* #region TAQUIN 
    #taquin {
        background-color: var(--third-color);

        width: 60%;
        padding: 2em 0;

        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #scream {
        display: none;
        border: 5px solid;
    }

    #canvas {
        background-color: var(--third-color);

        width: 55%;
        margin: 20px;
        border: 5px solid var(--third-color);

        display: block;
    }

    /* #endregion 
    /* #region STATS 
    #stats {
        background-color: var(--secondary-color);

        width: 20%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gameStats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #gameStats > .subtitle-layout {
        background-color: var(--primary-color);

        width: 60%;
        margin-left: 8em;
        margin-bottom: 1.2em;

        border-radius: 30px 0 0 30px;

        display: flex;
        justify-content: start;
    }

    #button-window {
        width: 90%;
        margin: 0 0.2em;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #start {
        font-size: 1.6em;
        color: var(--primary-color);
        background-color: var(--action-color);

        width: 92%;
        height: 1.6em;
        margin: 0 0.1em;

        border: none;
        border-radius: 50px;
    }

    #relaunch {
        font-size: 1.6em;
        color: var(--primary-color);
        background-color: var(--restart-color);

        width: 92%;
        height: 1.6em;
        margin: 0 0.1em;

        border: none;
        border-radius: 50px;
    }

    #frame {
        background-color: var(--primary-color);

        width: 80%;
        margin: 0.5em;
        margin-top: 1.5em;
        padding: 0.5em 0;

        border-radius: 8px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #miniature {
        background-color: var(--third-color);

        width: 85%;
        margin: 0.5em;

        border-radius: 8px;
    }

    .subtitle-layout > h3 {
        display: flex;
        justify-content: end;
        margin: 0.6em 0;
    }

    .button-layout {
        background-color: var(--primary-color);

        width: 80%;
        height: 3em;
        margin: 0 0.2em;
        margin-top: 1em;

        border-radius: 50px;
        box-shadow: 1px 1px 3px var(--primary-text-color, 0.1);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .click-counter {
        background-color: var(--primary-color);

        width: 80%;
        height: 2em;
        margin-bottom: 0.6em;
        padding: 0.5em;

        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .click-counter > input {
        background-color: var(--primary-color);
        font-family: var(--times-font);

        width: 10%;

        border: none;
    }

    .mix {
        background-color: var(--primary-color);

        width: 80%;
        height: 2em;
        padding: 0.5em;
        padding-left: 0.6em;

        border-radius: 10px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mix > input {
        background-color: var(--primary-color);
        font-family: var(--times-font);

        width: 10%;

        border: none;
    }

    /* #endregion 
    /* #endregion MAIN 
    /* #region FOOTER 

    #footer {
        background-color: var(--primary-text-color);
        color: var(--primary-color);
        height: 4em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    /* #endregion */
/*}


/* <<<   MEDIUM- SCREEN   >>> */

/*@media screen and (min-width: 468px) and (max-width: 992px) {*/

/*    body {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        height: 100%;*/
/*        align-self: auto;*/
/*    }*/
/*    !* #region HEADER *!*/

/*    header {*/
/*        background-color: var(--primary-color);*/

/*        padding: 0.9em 1em;*/
/*    }*/

/*    h1 {*/
/*        font-family: var(--title-font);*/
/*        font-size: 1.8em;*/

/*        margin-left: 0.4em;*/
/*    }*/

/*    .siteName {*/
/*        margin: 0 auto;*/
/*        padding-top: 0.2em;*/

/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    !* .userCard {*/
/*        font-size: 1.2em;*/
/*        background-color: var(--secondary-color);*/
/*        text-align: center;*/

/*        margin: 0.8em;*/
/*        margin-top: 0.3em;*/

/*        border-radius: 10px;;*/
/*    } *!*/

/*    #logo {*/
/*        height: 3em;*/
/*        width: 3em;*/

/*        margin: 0.4em;*/
/*    }*/

/*    !* #endregion *!*/

/*    !* #region MAIN *!*/

/*    main {*/
/*        font-size: 0.8em;*/
/*        display: flex;*/
/*        flex-direction: column-reverse;*/
/*        justify-content: space-between;*/
/*        align-items: center;*/
/*        height: 100%;*/
/*    }*/

/*    !* #region OPTIONS-MENU *!*/

/*    #optionsMenu {*/
/*        background-color: var(--secondary-color);*/
/*        padding-bottom: 0.8em;*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*        width: 100%;*/
/*    }*/

/*    #option-window {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        flex-basis: 40%;*/
/*    }*/

/*    h3 {*/
/*        font-size: 1em;*/
/*    }*/

/*    span {*/
/*        margin-left: 0.5em;*/
/*    }*/

/*    .select-option {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        align-items: center;*/
/*    }*/

/*    .subtitle-layout {*/
/*        background-color: var(--primary-color);*/

/*        height: 2.4em;*/
/*        margin-top: 1.2em;*/
/*        margin-bottom: 0.8em;*/

/*        border-radius: 30px;*/

/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/
/*    .select-difficulty {*/
/*        display: flex;*/
/*    }*/

/*    .difficulty-option {*/
/*        padding: 0.5em 0.5em;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    .difficulty {*/
/*        margin-right: 0.4em;*/
/*    }*/

/*    !* .optionExample {*/
/*        margin: 1em 1.5em;*/

/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    } *!*/
/*    .option-window {*/
/*        flex-basis: 40%;*/
/*    }*/
/*    .switch {*/
/*        position: relative;*/
/*        display: inline-block;*/
/*        width: 28px;*/
/*        height: 19px;*/
/*    }*/
/*    #divToggle2 {*/
/*        position: absolute;*/
/*        margin: 0 0 0 20vw;*/
/*    }*/
/*    .slider::before {*/
/*        position: absolute;*/
/*        content: "";*/
/*        height: 11px;*/
/*        width: 12px;*/
/*        left: 4px;*/
/*        bottom: 4px;*/
/*        background-color: white;*/
/*        -webkit-transition: .4s;*/
/*        transition: .4s;*/
/*    }*/
/*    input:checked + .slider:before {*/
/*        -webkit-transform: translateX(12px);*/
/*        -ms-transform: translateX(12px);*/
/*        transform: translateX(12px);*/
/*    }*/
/*    .switchText {*/
/*        width: 60px;*/
/*        margin: 7px auto auto -3px;*/
/*        font-size: 2.7vw;*/
/*    }*/

/*    !* #endregion *!*/

/*    !* #region TAQUIN *!*/

/*    #taquin {*/
/*        background-color: var(--third-color);*/

/*        width: 60%;*/
/*        padding: 2em 0;*/

/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        margin: auto;*/
/*    }*/

/*    #scream {*/
/*        display: none;*/
/*        border: 5px solid;*/
/*    }*/

/*    #canvas {*/
/*        background-color: var(--third-color);*/

/*        width: 85%;*/
/*        margin: 20px;*/
/*        !* margin: 200px; *!*/

/*        border: 5px solid var(--third-color);*/

/*        display: block;*/
/*    }*/

/*    !* #endregion *!*/

/*    !* #region STATS *!*/

/*    #stats {*/
/*        background-color: var(--secondary-color);*/

/*        width: 25%;*/

/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    #gameStats {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    #gameStats > .subtitle-layout {*/
/*        background-color: var(--primary-color);*/

/*        width: 60%;*/
/*        margin-top: 1.6em;*/
/*        margin-left: 8em;*/
/*        margin-bottom: 1.2em;*/

/*        border-radius: 30px 0 0 30px;*/

/*        display: flex;*/
/*        justify-content: start;*/
/*    }*/

/*    #button-window {*/
/*        width: 100%;*/

/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: space-evenly;*/
/*        align-items: center;*/
/*    }*/

/*    #start {*/
/*        font-size: 1.6em;*/
/*        color: var(--primary-color);*/
/*        background-color: var(--action-color);*/

/*        width: 95%;*/
/*        height: 1.6em;*/
/*        margin: 0 0.1em;*/

/*        border: none;*/
/*        border-radius: 50px;*/
/*    }*/

/*    #relaunch {*/
/*        font-size: 1.6em;*/
/*        color: var(--primary-color);*/
/*        background-color: var(--restart-color);*/

/*        width: 95%;*/
/*        height: 1.6em;*/
/*        margin: 0 0.1em;*/

/*        border: none;*/
/*        border-radius: 50px;*/
/*    }*/

/*    #frame {*/
/*        background-color: var(--primary-color);*/

/*        width: 80%;*/
/*        margin: 0.5em;*/
/*        margin-top: 1.5em;*/
/*        padding: 1em 0;*/

/*        border-radius: 8px;*/

/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    #miniature {*/
/*        background-color: var(--third-color);*/

/*        width: 85%;*/

/*        border-radius: 8px;*/
/*    }*/

/*    .subtitle-layout > h3 {*/
/*        display: flex;*/
/*        justify-content: end;*/
/*        margin: 0.6em 0;*/
/*    }*/

/*    .button-layout {*/
/*        background-color: var(--primary-color);*/

/*        width: 83%;*/
/*        height: 3em;*/
/*        margin: 0 0.2em;*/
/*        margin-top: 1em;*/

/*        border-radius: 50px;*/

/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    .click-counter {*/
/*        background-color: var(--primary-color);*/

/*        width: 80%;*/
/*        height: 2em;*/
/*        margin-bottom: 0.6em;*/
/*        padding: 0.5em;*/

/*        border-radius: 10px;*/

/*        display: flex;*/
/*        justify-content: space-between;*/
/*        align-items: center;*/
/*    }*/

/*    .click-counter > input {*/
/*        background-color: var(--primary-color);*/
/*        font-family: var(--times-font);*/

/*        width: 10%;*/

/*        border: none;*/
/*    }*/

/*    !* .subtitle-layout {*/
/*        background-color: var(--primary-color);*/

/*        width: 60%;*/
/*        margin-top: 1.6em;*/
/*        margin-left: 3em;*/
/*        padding-right: 2em;*/

/*        border-radius: 30px 0 0 30px;*/

/*        display: flex;*/
/*        justify-content: end;*/
/*    } *!*/

/*    .mix {*/
/*        background-color: var(--primary-color);*/

/*        width: 80%;*/
/*        height: 2em;*/
/*        padding: 0.5em;*/
/*        padding-left: 0.6em;*/

/*        border-radius: 10px;*/

/*        display: flex;*/
/*        justify-content: space-between;*/
/*        align-items: center;*/
/*    }*/

/*    .mix > input {*/
/*        background-color: var(--primary-color);*/
/*        font-family: var(--times-font);*/

/*        width: 10%;*/

/*        border: none;*/
/*    }*/

/*    !* #endregion *!*/

/*    !* #endregion MAIN *!*/

/*    !* #region FOOTER *!*/

/*    #footer {*/
/*        background-color: var(--primary-text-color);*/
/*        color: var(--primary-color);*/
/*        height: 3em;*/
/*        padding: 0.9em;*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: space-evenly;*/
/*        align-items: center;*/
/*        position: fixed;*/
/*        bottom: 0;*/
/*    }*/

/*    #footer > p {*/
/*        margin: 0.3em 0;*/
/*    }*/

/*    !* #endregion *!*/

/*}*/


/* <<<   SMALL SCREEN   >>> */

/*@media screen and (max-width: 467px) {*/
/*}